.tracker-input {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;

  @media screen and (max-width: 534px) {
    width: 100%;
  }

  &__group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    box-shadow:
      0 2px 4px rgba(29, 41, 57, 0.05),
      0 4px 16px rgba(29, 41, 57, 0.1);
    border-radius: 10px;
    max-width: 455px;
    width: 100%;
  }

  &__input {
    box-sizing: border-box;
    color: #8f8f8f;
    border-radius: 5px;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #e4e7ec;
    width: 100%;
    font-family: 'Cairo', sans-serif;
    border: 2px solid #fff;
    height: 100%;

    &::placeholder {
      color: #98a2b3;
    }

    &:focus {
      outline: none;
      border: 2px solid #e30613;
      border-left: 0;
    }
  }

  &__button {
    font-size: 26px;
    background-color: #e30613;
    border-radius: 10px 0 0 10px;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

.rtl {
  & input {
    order: 1;
  }
  & button {
    order: 2;
  }
}

.ltr {
  & input {
    order: 2;
  }
  & button {
    order: 1;
  }
}

@media screen and (max-width: 534px) {
  .tracker-input {
    margin-top: 20px;
  }
}

.shipment-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.error-wrong-tracking {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #e30613;
  font-size: 20px;
}

.tracking-container {
  min-height: calc(100vh - 225px);
}
@media screen and (max-width: 534px) {
  .tracking-container {
    min-height: calc(100vh - 180px);
  }
}
